################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FilterTests/DesignTimeBuild
/.vs
/2DLinq/bin
/2DLinq/obj
/2DLinq/DynamicMethodILProvider.cs
/2DLinq/DynamicScopeTokenResolver.cs
/2DLinq/ILReaderFactory.cs
/2DLinq/InliningILVisitor.cs
/2DLinq/TryingAlternateRecourse.cs
/Backup
/BinarizationTests
/FilterTests/bin
/FilterTests/obj
/FilterTests/FilterTests.csproj.user
/FilterTests/Inlined.txt
/FilterTests/PixelFormat.cs
/FilterTests/ReflectionExtensions.cs
/FilterTests/UnsafeParallelTestSet.cs
/MigrationBackup/a7378cb7/FilterTests
/packages
/SauvolaTests
/Analysis.txt
/AsmCompare.docx
/RecurrentConfigurations.xlsx
/UpgradeLog.htm
/~$mCompare.docx
/~$RecurrentConfigurations.xlsx
/ILReader/bin
/ILReader/obj
/ILReader
/BenchmarkHelpers/bin
/BenchmarkHelpers/obj
/ImageHelpers/bin
obj
bin
