<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Linq" #>
<#@ include file="..\CommonT4.tt" #>
namespace Linq2d
{
<#
for(int k=1; k<=maxRes; k++)
{
#>

    public interface IArray<#= TemplateArgs(0, k)#>
    {
        <#= ReturnTuple(k, "[,]")#> <#= ToArrays(k)#>();
    }
<#
}
#>
}
